html {
  font-family: $font-body;
  color: $colour-font-body;
  width: 100%;
  scroll-behavior: smooth;
  background: $color-highlight-light;
}

body {
  max-width: $width-content;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: $font-title;
}

main {
  background: white;
}

h2,
h3,
h4 {
  color: $colour-font-title;
}

a,
a:visited {
  color: $color-highlight;
}

section {
  margin: 0 0 50px 0;
}

@keyframes pulse {
  0% {
    color: $colour-font-white;
  }
  50% {
    color: transparentize($colour-font-white, 0.4);
  }
  100% {
    color: $colour-font-white;
  }
}

header {
  min-height: $height-header;
  height: 100vh;
  box-sizing: border-box;
  color: $colour-font-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $color-highlight;
  gap: 20px;
  text-align: center;

  img {
    width: $width-profile-img;
  }

  h1 {
    margin: 0;
  }

  p {
    margin-top: 0px;
    max-width: 30rem;
  }

  i {
    font-size: 1.5rem;
    color: $colour-font-white;
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;

    &:hover {
      animation: none;
      color: $colour-font-white;
      transform: scale(1.1);
    }
  }
}

header,
main,
footer {
  padding: $padding-text;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-highlight;
  color: $colour-font-white;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  gap: 1em;
}

#social {
  i {
    color: $colour-font-white;
    font-size: 1.6rem;
  }
}


#skills {
  
  h2 {
    margin-top: 0;
    padding-top: 20px;
  }
  
  #skills-container {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
  }

  .skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 8px;

    h3 {
      margin: 0 0 5px 0;
    }

    p {
      margin: 0;
      max-width: 20em;
    }

    i {
      color: $colour-font-title;
      font-size: 2rem;
      margin-bottom: 10px;
    }
  }
}

hr {
  height: 2px;
  border: none;
  background: $color-highlight;
  width: 100%;
  margin-bottom: 40px;
}

li {
  margin: 0.8rem;
}

ul {
  padding: 0 1.2rem;
}

#experience {
  p {
    background: $color-highlight-light;
    padding: 12px;
    border-left: 5px solid $color-highlight-light;
  }

  article {
    margin: 40px 0;
    padding: 5px 25px 25px 25px;
    background: $color-highlight-light;
    border-radius: 10px;
  }

  img {
    max-width: 60px;
    max-height: 40px;
  }

  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (min-width: $width-content) {
  header, main, footer {
    padding: 80px;
  }

  body {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  header {
    height: $height-header;
    text-align: left;
    align-items: flex-start;
    
    a {
      display: none;
    }

    img {
      width: 130px;
    }

    p {
      margin: 0;
    }
  }

  #skills{

    #skills-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px 20px;
    }

    .skills-card:last-child {
      grid-column: 1 / 4;
    }
  }
  }
