// Fonts
$font-title: 'Merriweather Sans', sans-serif;
$font-body: 'Source Sans Pro', serif;

// Colours
$colour-font-body: rgb(36, 36, 36);
$colour-font-title: rgb(68, 68, 68);
$colour-font-hero: rgba(255, 255, 255, 0.95);
$colour-font-link: rgba(255, 255, 255, 0.95);

$color-highlight: rgb(211, 0, 63);
$color-highlight-light: rgba($color-highlight, 0.02);


// Layout
$width-content: 800px;

$height-header: 220px;

$padding-text: 20px;