// Fonts
$font-title: 'Merriweather Sans', sans-serif;
$font-body: 'Source Sans Pro', serif;

// Colours
$colour-font-body: rgb(36, 36, 36);
$colour-font-title: rgb(68, 68, 68);


// Layout
$width-content: 800px;