// Fonts
$font-title: 'Merriweather Sans', sans-serif;
$font-body: 'Merriweather', serif;

// Colours
$colour-font-body: rgb(58, 58, 58);
$colour-font-title: rgb(44, 44, 44);


// Layout
$width-content: 800px;