/* Variables and mixins declared here will be available in all other SCSS files */


// Colours
$base-color: #c6538c;


// Gaps
$gap-m: 1rem;
$gap-s: 0.6rem;


// Icons
$icon-width-s: 1.6rem;
$icon-width-l: 2rem;